@model Democracy_Alarm.Models.CityVotingViewModel
@{
    ViewBag.Title = "GetCityVoting";
}

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>ID</th>
        <th>時間</th>
        <th>
            支持原因
        </th>
    </tr>
    @foreach (var item in Model.VoteResult)
    {
    <tr>
        <td>@item.UserName</td>
        <td>@item.VotingSeason</td>
        <td>@item.VotingComment</td>
    </tr>
    }


</table>

