@model Democracy_Alarm.Models.CityVotingViewModel
@{
    ViewBag.Title = "GetCityVoting";
}

<table class="table table-bordered table-condensed table-striped" style="word-break: break-all;">
    @foreach (var item in Model.VoteResult)
    {
    <tr>
        <td>
            <b> @item.UserName - @item.VotingSeason.ToChineseSeason()</b>
        <br>
        @(item.VotingTime.ToString("yyyy/MM/dd HH:mm")+"，給" + item.VotingTarget + "長一個讚，因為" + item.VotingComment)</td>
    </tr>
    }


</table>

