@model Democracy_Alarm.Models.PersonalVotingViewModel
@{
    ViewBag.Title = "GetPersonalVoting";
}
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>投票紀錄</th>
        <th>縣市</th>
        <th>時間</th>
        <th>
            支持原因
        </th>
    </tr>
    @foreach (var item in Model.VoteResult)
    {
        <tr>
            <td>@(item.IsDiscard ? "放棄" : "支持")</td>
            <td>@item.VotingTarget</td>
            <td>@item.VotingSeason</td>
            <td>@(item.IsDiscard ? "放棄選票" : "支持"+ item.VotingTarget + "長一票，因為"+item.VotingComment)</td>
        </tr>
    }


</table>
