@model Democracy_Alarm.Models.PersonalVotingViewModel
@{
    ViewBag.Title = "GetPersonalVoting";
}
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th width="100px">評量紀錄</th>
        <th width="80px">縣市</th>
        <th width="120px">評量時間</th>
        <th>
            給讚原因
        </th>
    </tr>
    @foreach (var item in Model.VoteResult)
    {
        <tr>
            <td>@(item.IsDiscard ? "放棄" : "給個讚")</td>
            <td>@item.VotingTarget</td>
            <td>@item.VotingSeason.ToChineseSeason()</td>
            <td>@(item.IsDiscard ? "放棄評量" : item.VotingTime.ToString("yyyy/MM/dd HH:mm")+"，給" + item.VotingTarget + "長一個讚，因為" + item.VotingComment)</td>
        </tr>
    }


</table>
