
@{
    ViewBag.Title = "GetPersonalHistory";
}


<div class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
        <a href="#" onclick="w3_close()"><i class="fa fa-times fa-3x"></i></a><br /><br />
        <div class="w6-third">
            <h3>
                個人投票評論:
            </h3>
            <ul class="w3-ul w3-hoverable" style="overflow-y: scroll;height:150px">
                <li class="w3-padding-16">
                    <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Terry</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
            </ul>
        </div>



    </div>
</div>