@model Democracy_Alarm.Models.VotingCityViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <h1><b>縣、市長</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <!-- <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
        </div>
    </div>
</header>

<div id="myModal" class="w3-container w3-padding-32 w3-dark-grey" style="display:none">
    <div class="w3-row-padding">
        <a href="#" onclick="w3_close()"><i class="fa fa-times fa-3x"></i></a><br /><br />
        <div class="w3-third">

            <h3>台北市(200)</h3>
            <p>
                <span class="w3-tag w3-black w3-margin-bottom"><a href="#">All(200)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第十季(80)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第九季(50)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第八季(40)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第七季(10)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第六季(5)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第五季(3)</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第四季</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第三季</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第二季</a></span>
                <span class="w3-tag w3-grey w3-small w3-margin-bottom"><a href="#">第一季</a></span>
            </p>
        </div>
        <div class="w6-third">
            <h3>評論:</h3>
            <ul class="w3-ul w3-hoverable" style="overflow-y: scroll;height:150px">
                <li class="w3-padding-16">
                    <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Terry</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
                <li class="w3-padding-16">
                    <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Tom</span><br>
                    <span>做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很有效率做事很</span>
                </li>
            </ul>
        </div>



    </div>
</div>


<!-- First Grid-->

@{
    var listSize = 3;
    var numberOfLists = Model.CityVotes.Count / listSize;
    for (int listIndex = 0; listIndex < numberOfLists + 1; listIndex++)
    {
        var list = Model.CityVotes.Skip(listIndex * listSize).Take(listSize);
        <div class="w3-row-padding">
            @foreach (var element in list)
            {
                <div class="w3-third w3-container w3-margin-bottom">
                    <div class="w3-container w3-white">
                        <p><b>@element.CityName</b></p>
                        <a id="various2" class="button line-blue" data-rel="lightcase:myCollection" href="@Url.Action("VoteCity")">test</a>
                            <button class="w3-button w3-teal w3-padding-large w3-hover-black">投支持票</button>
                        
                        <p>總支持數:@element.Votes 票</p>
                    </div>
                </div>
            }
        </div>
    }

}
<!-- Images of Me -->
<div class="w3-row-padding w3-padding-16" id="about">

</div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>理念</b></h1>
    <p>
        馬丁．路德．金：在社會轉型期，最大的悲劇不是
        壞人的囂張，而是好人的過度沉默。
    </p><p>
        現在，民主政治中，選民唯一的武器是一張選票
        ，這張選票的有效期限只有選舉那一天。其他的
        日子，選民只能沉默。所以，現在的狀況如圖
        一。
    </p>
    如果有一個政治家每天努力的做事，我們如何
    持續支持他？
    </p><p>
        一張選票用四年，一季一次，表達與承諾對政治
        家的支持。目標如圖二。
    </p>
    <p><img src="~/Content/Images/presentation1.png" /></p>
    <p><img src="~/Content/Images/presentation2.png" /></p>
    <hr>

    <div class="w3-row-padding w3-padding-16" id="news">

    </div>
    <h1><b>公告</b></h1>
    <!-- Progress bars / Skills -->
    <p>公告11</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">ADFASD ADFADFAS  ADFASDFAS ADFASDF</div>
    </div>
    <p>公告22</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">ADFASD ADFADFAS  ADFASDFAS ADFASDF</div>
    </div>
    <p>公告33</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">ADFASD ADFADFAS  ADFASDFAS ADFASDF</div>
    </div>

    <hr>
